:is(.tab-panel-cont, .tab-panel-btn) {
	/* background-color: rgb(0,0,0,.8); */
	color: white;
	font-family: var(--zs-font-body);
}

:is(.tab-panel-cont, .tab-panel-btn) {

}

.tab-panel-cont .button:hover {
	/* color: var(--color-pl-lightgrey); */
}

.tab-panel-cont .buttons-cont {
	min-width: 75%;
}

.tab-panel-cont .panel-btn button {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	padding: 24px;
	border-radius: 16px;
	height: unset;
	gap: 12px;
	font-size: min(5vw, 1.2rem);
	box-shadow: 0 0 0 2px black inset;
	background-color: rgb(0, 6, 13, .8);
	width: 100%;
	overflow: hidden;
}

.tab-panel-cont .panel-btn button:after {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: rgba(255,255,255,0.2);
	-webkit-transition: none;
	   -moz-transition: none;
			transition: none;
}

.tab-panel-cont .panel-btn:hover button:after {
	width: 125%;
	background-color: rgba(255,255,255,0);

	-webkit-transition: all 0.4s ease-out;
	   -moz-transition: all 0.4s ease-out;
			transition: all 0.4s ease-out;
}

.tab-panel-cont .panel-btn button svg {
	position: relative;
	z-index: 2;
	transition: transform 200ms ease-in-out;
}

.tab-panel-cont .panel-btn:hover button svg {
	transform: translateX(5px)
}

:is(.tab-panel-cont, .tab-panel-btn) .liquid-glass-cont {
	justify-content: flex-end !important;
	align-items: unset !important;
	background-color: rgb(var(--color-pl-black),.2);
}

.tab-panel-cont > .liquid-glass-cont {
	border-radius: 0 20px 20px 0 !important;
}

.tab-panel-btn > .liquid-glass-cont {
	padding: .5rem;
}

.tab-panel-cont {
	width: 75%;
}

.content-cont {
	padding-top: 16%;
	background-color: var(--color-pl-gunmetal);
	color: white;
	min-height: 100svh;
	height: 100%;
}

.content-cont:is(.open, .closed) {
	grid-template-columns: 1fr 90%;
	transition: grid-template-columns 500ms cubic-bezier(0.65, 0, 0.35, 1);
}

.content-cont .inner {
	grid-column: 2 / 2;
}

.content-cont .title-cont {
	font-family: var(--gsc-font-header);
	margin: 0 5% 0 auto;
	font-size: min(8vw, 2rem);
}

.content-cont .prose {
	color: white;
	font-family: var(--zs-font-body);
	font-size: min(5vw, 1.2rem);
}

@media (min-width: 768px) {
	.tab-panel-cont {
		width: 50%;
	}

	.tab-panel-cont .buttons-cont {
		min-width: 75%;
	}

	.content-cont.closed {
		grid-template-columns: 1fr 75% 15vw;
	}

	.content-cont.open {
		grid-template-columns: 1fr 60% 15vw;
	}
}

@media (min-width: 1024px) {
	.content-cont {
		padding-top: 8%;
		height: 100%;
	}

	.tab-panel-cont {
		width: 40%;
	}

	.content-cont.closed {
		grid-template-columns: 1fr 50% 25vw;
	}

	.content-cont.open {
		grid-template-columns: 1fr 40% 25vw;
	}
}