.yacht-parallax-cont {
	overflow: clip;
}

.yacht-parallax-cont .TopHero {
	z-index: 500;
	position: relative;
}

.yacht-parallax-cont .IconBanner {
	z-index: 499;
	position: relative;
}

.yacht-parallax-cont .VideoSideScroller.item-1 {
	position: unset !important;
}

.yacht-parallax-cont .VideoSideScrollerWrapper .VideoSideScroller {
	z-index: 500;
	position: relative;
}

.yacht-parallax-cont .LayeredCards {
	z-index: 497;
	position: relative;
}

.yacht-parallax-cont .VideoSideScroller.item-4 {
	z-index: 496;
	position: relative;
}

.yacht-parallax-cont .TopHero {
	position: relative;
	z-index: 2;
	margin-top: 0;
	display: grid;
	grid-template-areas: "stack";
	height: 100vh;
	height: 100svh;
	border-radius: 0 0 32px 32px;
	overflow: clip;
	margin-inline: auto;
	min-width: 100%;
}

.yacht-parallax-cont .TopHero .bg-mask {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

.yacht-parallax-cont .TopHero .media-cont {
	background-color: white;
	grid-area: stack;
	width: 100%;
	height: 100%;
	min-height: 700px;
}

.yacht-parallax-cont .TopHero .media video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.yacht-parallax-cont .TopHero .content {
	position: relative;
	margin-inline: auto;
	min-width: 100%;
	z-index: 1;
	overflow-x: clip;
	grid-area: stack;
	display: flex;
	flex-direction: column-reverse;
	min-width: 100%;
	max-height: calc(100vh - 30px);
	max-height: calc(100svh - 30px);
	padding-inline: 15px;
	margin-block: 15px;
	margin-top: 0px;
}

.yacht-parallax-cont .TopHero .content-left {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	row-gap: 16px;
	margin-top: auto;
	color: white;
}

.yacht-parallax-cont .TopHero .content-left .title {
	font-family: var(--yb-font-header);
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
}

.yacht-parallax-cont .TopHero .content-left .subtitle {
	font-family: var(--yb-font-body);
	font-size: 18px;
	line-height: 22px;
}

.yacht-parallax-cont .IconBanner {
	position: relative;
	background-color: white;
	margin-inline: auto;
	min-width: 100%;
	z-index: 1;
	overflow-x: clip;
}

.yacht-parallax-cont .IconBanner .inner-cont {
	max-width: 1440px;
	margin-inline: auto;
	padding-block: 64px;
	padding-inline: 16px;
}

.yacht-parallax-cont .IconBanner .title-cont {
	text-align: center;
}

.yacht-parallax-cont .IconBanner .title-cont .title {
	font-family: var(--yb-font-header);
	font-size: 48px;
	line-height: 56px;
	font-weight: 700;
}

.yacht-parallax-cont .IconBanner .title-cont .subtitle {
	font-family: var(--yb-font-body);
	font-size: 18px;
	line-height: 22px;
}

.yacht-parallax-cont .IconBanner .icon-cont-outer {
	margin-top: 24px;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 8px;
	max-width: max-content;
	margin-inline: auto;
}

.yacht-parallax-cont .IconBanner .icon-cont-outer .icon {
	padding-block: 16px;
	padding-inline: 8px;
	border-radius: 8px;
	background-color: white;
	border: 1px solid rgb(224,224,225);
	cursor: pointer;
	transition: background-color .3s cubic-bezier(.215,.61,.355,1);
	font-size: 14px;
}

.yacht-parallax-cont .IconBanner .icon-cont-outer .icon svg {
	color: white;
	width: 48px;
	height: 48px;
	padding: 12px;
	border-radius: 999px;
	margin-inline: auto;
	text-align: center;
}
.yacht-parallax-cont .IconBanner .icon-cont-outer .icon:nth-child(1) svg {
	background-color: rgb(136,157,30);
}
.yacht-parallax-cont .IconBanner .icon-cont-outer .icon:nth-child(2) svg {
	background-color: rgb(255, 173, 41);
}
.yacht-parallax-cont .IconBanner .icon-cont-outer .icon:nth-child(3) svg {
	background-color: rgb(114,25,49);
}
.yacht-parallax-cont .IconBanner .icon-cont-outer .icon:nth-child(4) svg {
	background-color: rgb(7,158,165);
}

.yacht-parallax-cont .VideoSideScroller.item-1 .outer-cont {
	z-index: 0;
	position: sticky;
	top: 0;
	margin-top: -100svh;
	min-height: 100vh;
	min-height: 100svh;
	overflow: visible;
	display: grid;
	grid-template-columns: 1fr;
	padding-inline: 16px;
	padding-block: 80px 40px;
	margin-inline: auto;
	min-width: 100%;
}

.yacht-parallax-cont .VideoSideScroller .video-card .video-cont {
	isolation: isolate;
	position: absolute;
	inset: 0;
	overflow: clip;
}

.yacht-parallax-cont .VideoSideScroller .video-card .video-cont video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.yacht-parallax-cont .VideoSideScroller .empty-reveal-cont {
	height: 150vh;
	height: 150svh;
	pointer-events: none;
}

.yacht-parallax-cont .VideoSideScroller.item-1 .outer-cont .top-title-cont {
	max-width: 344px;
	text-align: center;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-self: start;
	align-items: center;
}

.yacht-parallax-cont .VideoSideScroller.item-1 .outer-cont .top-title-cont .title {
	font-family: var(--yb-font-header);
	font-weight: 700;
	font-size: 48px;
	line-height: 52px;
	text-decoration: none;
	letter-spacing: normal;
}

.yacht-parallax-cont .VideoSideScroller.item-1 .outer-cont .top-title-cont .subtitle {
	font-family: var(--yb-font-body);
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	text-decoration: none;
	letter-spacing: normal;
}

.yacht-parallax-cont .VideoSideScroller.item-1 .outer-cont .cards-cont {
	position: relative;
	overflow-y: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
	margin-block: 32px;
}

.yacht-parallax-cont .VideoSideScroller.item-1 .outer-cont .cards-cont .cards {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 16px;
	grid-auto-rows: 132px;
}

.yacht-parallax-cont .VideoSideScroller.item-1 .outer-cont .cards-cont .cards .card {
	grid-row: span 1;
	position: relative;
}

.yacht-parallax-cont .VideoSideScroller.item-1 .outer-cont .cards-cont .cards .card .video-card {
	--activeClipPath: inset(4px round 13px);
	position: relative;
	overflow: clip;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 12px;
	gap: 10px;
	background: rgb(224,224,225);
	border-radius: 16px;
	height: 100%;
	width: 100%;
}

.yacht-parallax-cont .VideoSideScroller.item-1 .outer-cont .video-card .title {
	position: relative;
	color: rgb(255,255,255);
	text-align: start;
	font-family: var(--yb-font-header);
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-decoration: none;
	letter-spacing: normal;
}

.yacht-parallax-cont .VideoSideScroller.item-2 {
	position: relative;
	overflow: clip;
	border-radius: 32px;
	margin-inline: auto;
	min-width: 100%;
}

.yacht-parallax-cont .VideoSideScroller.item-2 .top-title-cont {
	position: sticky;
	top: 0;
	z-index: 1;
	padding-block: 48px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(176,237,230);
}

.yacht-parallax-cont .VideoSideScroller.item-2 .top-title-cont .title {
	font-family: var(--yb-font-header);
	font-weight: 400;
	font-size: 48px;
	line-height: 52px;
	text-decoration: none;
	letter-spacing: normal;
	text-align: center;
}

.yacht-parallax-cont .VideoSideScroller.item-2 .top-title-cont button {
	position: relative;
	overflow: hidden;
	overflow: clip;
	background: black;
	color: white;
	box-shadow: 0 0 0 1px black inset;
	font-size: 18px;
	line-height: 18px;
	padding: 12px 16px;
	border-radius: 8px;
	height: 48px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	font-family: var(--yb-font-body);
	font-style: normal;
	font-weight: 700;
	width: fit-content;
	margin-top: 24px;
}

.yacht-parallax-cont .VideoSideScroller.item-2 .cards-cont {
	background-color: rgb(176,237,230);
	position: relative;
	padding-inline: 16px;
}

.yacht-parallax-cont .VideoSideScroller.item-2 .cards-cont .card {
	display: flex;
	position: relative;
	isolation: isolate;
	aspect-ratio: 762/410;
	border-radius: 16px;
	overflow: clip;
	width: 100%;
	height: auto;
	background-color: lightgray;
}

.yacht-parallax-cont .VideoSideScroller.item-2 .cards-cont .video-card {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: end;
}

.yacht-parallax-cont .VideoSideScroller.item-2 .cards-cont .card .title {
	display: block;
	position: relative;
	font-family: var(--yb-font-header);
	font-weight: 700;
	font-size: 32px;
	line-height: 36px;
	text-decoration: none;
	letter-spacing: normal;
	line-height: normal;
	justify-content: space-between;
	align-items: center;
	color: white;
	margin-top: auto;
	padding: 16px;
}

.yacht-parallax-cont .VideoSideScroller.item-4 .top-title-cont .title {
	font-family: var(--yb-font-header);
	font-weight: 700;
	font-size: 60px;
	line-height: 64px;
	text-decoration: none;
	letter-spacing: normal;
}

.yacht-parallax-cont .VideoSideScroller.item-2 .cards-cont .card.placeholder-card {
	position: relative;
	aspect-ratio: 762/210;
	background-color: transparent;
}

.yacht-parallax-cont .LayeredCards {
	/* padding-bottom: 48px; */
}

.yacht-parallax-cont .LayeredCards .top-title-cont {
	padding: 40px 16px 32px;
}

.yacht-parallax-cont .LayeredCards .top-title-cont .title {
	font-family: var(--yb-font-header);
	font-weight: 400;
	font-size: 48px;
	line-height: 52px;
	text-decoration: none;
	letter-spacing: normal;
}

.yacht-parallax-cont .LayeredCards .top-title-cont button {
	position: relative;
	overflow: hidden;
	overflow: clip;
	color: black;
	box-shadow: 0 0 0 1px black inset;
	background-color: #fff;
	font-size: 18px;
	line-height: 18px;
	padding: 12px 16px;
	border-radius: 8px;
	height: 48px;
	margin-top: 24px;
}

.yacht-parallax-cont .VideoSideScroller.item-4 {
	isolation: isolate;
	background: white;
}

.yacht-parallax-cont .VideoSideScroller.item-4 .outer-cont {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding-inline: 16px;
	padding-block: 48px;
}

.yacht-parallax-cont .VideoSideScroller.item-4 .outer-cont .title {
	font-family: var(--yb-font-header);
	font-weight: 400;
	font-size: 48px;
	line-height: 52px;
	text-decoration: none;
	letter-spacing: normal;
}

.yacht-parallax-cont .VideoSideScroller.item-4 .video-layered-cards-content {
	padding: 0;
}

.yacht-parallax-cont .VideoSideScroller.item-4 .video-layered-cards-title {
	font-family: var(--yb-font-header);
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-decoration: none;
	letter-spacing: normal;
}

.yacht-parallax-cont .VideoSideScroller.item-4 .video-layered-cards-wrapper button {
	display: flex;
	position: relative;
	overflow: hidden;
	overflow: clip;
	background: black;
	color: white;
	box-shadow: 0 0 0 1px black inset;
	font-size: 16px;
	line-height: 16px;
	padding: 12px 16px;
	border-radius: 8px;
	height: 44px;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	font-family: var(--yb-font-body);
	font-style: normal;
	font-weight: 700;
	width: fit-content;
	transition: all .3s ease;
}

.yacht-parallax-cont .VideoSideScroller.item-4 .video-layered-cards-images-container  {
	margin-top: 32px;
}

.yacht-parallax-cont .VideoSideScroller.item-4 .title-card-cont  {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	overflow-y: hidden;
	margin-top: 1rem;
	cursor: grab;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	-ms-overflow-style: none;
	user-select: none;
}

.yacht-parallax-cont .VideoSideScroller.item-4 .title-card-cont::-webkit-scrollbar {
	display: none;
}

.yacht-parallax-cont .VideoSideScroller.item-4 .title-card-cont:active {
	cursor: grabbing;
}

.yacht-parallax-cont .VideoSideScroller.item-4 .title-card-cont .title-card {
	display: inline-block;
	margin-right: 5%;
	white-space: nowrap;
	font-family: var(--yb-font-body);
	flex-shrink: 0;
}

.yacht-parallax-cont .VideoSideScroller.item-4 .title-card-cont .title-card.active {
	font-weight: bold;
}

.yacht-parallax-cont .EventSideScroller .title {
	font-family: var(--yb-font-header);
	font-weight: 700;
	font-size: 48px;
	line-height: 52px;
	text-decoration: none;
	letter-spacing: normal;
}

.yacht-parallax-cont .EventSideScroller .event-header-container button {
	position: relative;
	overflow: hidden;
	overflow: clip;
	color: black;
	box-shadow: 0 0 0 1px black inset;
	background-color: #fff;
	font-size: 16px;
	line-height: 16px;
	padding: 12px 16px;
	border-radius: 8px;
	height: 44px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	font-family: var(--yb-font-body);
	font-style: normal;
	font-weight: 700;
	width: fit-content;
	transition: all .3s ease;
}

.yacht-parallax-cont .EventSideScroller .event-card-inner {
	font-family: var(--yb-font-body);
}

.yacht-parallax-cont .ThreeCardAcross {
	font-family: var(--yb-font-body);
}

.yacht-parallax-cont .ThreeCardAcross .three-card-header h2 {
	font-family: var(--yb-font-header);
}

.yacht-parallax-cont .ClickSlider {
	font-family: var(--yb-font-body);
}

.yacht-parallax-cont .ClickSlider .click-slider-title {
	font-family: var(--yb-font-header);
}

.yacht-parallax-cont .ClickSlider .click-slider-header button {
	position: relative;
	overflow: hidden;
	overflow: clip;
	color: black;
	box-shadow: 0 0 0 1px black inset;
	background-color: #fff;
	font-size: 18px;
	line-height: 18px;
	padding: 12px 16px;
	border-radius: 8px;
	height: 48px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	font-family: var(--yb-font-body);
	font-style: normal;
	font-weight: 700;
	width: fit-content;
	transition: all .3s ease;
}

.yacht-parallax-cont .ClickSlider .click-slider-swiper-container .click-slider-card-inner :is(h2) {
	font-family: var(--yb-font-body) !important;
}

.yacht-parallax-cont .CTAButtons h2 {
	font-family: var(--yb-font-body);
	font-weight: 400;
	font-size: 48px;
	line-height: 56px;
	text-decoration: none;
	letter-spacing: normal;
}

.yacht-parallax-cont .CTAButtons .cta-icon-card {
	display: flex;
	justify-content: space-between;
	padding: 21px 20px;
	font-size: 18px;
	height: 48px;
	min-width: 100%;
	background: white;
	color: black;
	box-shadow: 0 0 0 1px white inset;
	border-radius: 16px;
}
