/* Custom Payload Admin Styles */

/* Reset textarea default styling and make it scroll */
textarea {
  resize: none !important;
  overflow: auto !important;
  box-sizing: border-box !important;
  height: 160px !important;
  margin-bottom: 2% !important;
}

