.tab-panel.content-cont .content-col {
	position: relative;
}

.tab-panel.content-cont svg.even {
	position: relative;
	font-size: 4rem;
	margin: 0;
	margin-bottom: 5%;
	animation: content-icon-rotate-even 8s linear infinite;
}

@keyframes content-icon-rotate-even {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.tab-panel.content-cont svg.odd {
	position: relative;
	font-size: 4rem;
	margin: 0;
	margin-bottom: 5%;
	animation: content-icon-rotate-odd 8s linear infinite;
}

@keyframes content-icon-rotate-odd {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

@media (min-width: 1024px) {
	.tab-panel.content-cont svg:is(.even, .odd) {
		position: absolute;
		top: -6%;
		left: -17%;
	}
}